.profile_compo {
    display: flex;
    justify-content: center;
}

.profile_container {
    width: 1024px;
    min-height: 600px;
    display: flex;
    flex-direction: row;
}

.changePassword {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 25px auto;
}

.changePassword>input {
    outline: none;
    height: 25px;
    color: gray;
}

.changePassword>button {
    background-color: tomato;
    color: white;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}