.headerCotainer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    height: 50px;
    /* box-sizing: border-box; */
}

.headerList {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
}

.listContainer {
    display: flex;
    list-style-type: none;
    margin: 0px auto;
}

.listContainer>li {
    margin: 0px 5px;
}

.headerProfile {
    /* margin: 0px 10px; */
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 25px;
    /* cursor: pointer; */
}

.profileShow{
    height: 200px;
    width: 250px;
    position: absolute;
    background-color: white;
    z-index: 1;
    right: 17%;
    /* top: 20%; */
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 20px;
}
.profileShowName{
display: flex;
align-items: center;
gap: 10px;
margin: 10px 0px;
cursor: pointer;
}
